{% load user_filters %}

<!-- Комментарии -->
{% for item in comments %}
<div class="card mb-3 mt-1 shadow-sm">
    <div class="media-body card-body">
        <div class="d-flex justify-content-between align-items-center">
            <h5 class="mt-0">

                <a href="{% url 'profile' item.author.username %}"
                   name="comment_{{ item.id }}" style="color:#6f42c1">
                    {{ item.author.username }}
                </a>
            </h5>
            <small class="text-muted">{{ item.created|date:"d M Y" }}</small>
        </div>
        <p>{{ item.text | linebreaksbr }}</p>
    </div>
</div>
{% endfor %}

<!-- Форма добавления комментария -->
{% if user.is_authenticated %}
<div class="card my-4">
    <form method="post" action="{% url 'add_comment' post.author.username post.id %}">
        {% csrf_token %}
        <h5 class="card-header">Добавить комментарий:</h5>
        <div class="card-body">
            <div class="form-group">
                {{ form.text|addclass:"form-control" }}
            </div>
            <button type="submit" class="btn btn-success">Отправить</button>
        </div>
    </form>
</div>
{% endif %}
